[Unit]
Description=Service used to monitor the state of the guest enhance toggle and update the mix used for mic monitoring.
After=graphical.target

[Service]
ExecStart=%h/git/my_vocaster/vocaster_mic_monitor.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
