[Unit]
Description=Script Service used to monitor the state of the guest mute and update the mix used for xbox.
After=multi-user.target

[Service]
ExecStart=%h/git/my_vocaster/vocaster_xbox_mute.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
